.App{
    justify-content: center;
    align-items: center;
    display: flex;
    
    /* background-image: url("https://thumbs.dreamstime.com/b/medieval-manuscript-style-rectangular-frame-vertical-orientation-vintage-color-palette-hand-drawn-image-isolated-monochrome-137817880.jpg"); */
}